/* Default CSS Styling */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* 02 - ReactJS Card Component */
/* .first-card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 395px;
  display: inline-block;
}

.first-card .card-landscape {
  max-width: 97%;
  height: 250px;
}

.first-card .card-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-top: 15px;
  color: hsl(0, 0%, 20%);
}

.first-card .card-text {
  font-family: Verdana, sans-serif;
  font-size: 13.5px;
  color: hsl(0, 0%, 10%);
}

.second-card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 320px;
  display: inline-block;
}

.second-card .card-profile {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.second-card .card-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-top: 15px;
  color: hsl(0, 0%, 20%);
}

.second-card .card-text {
  font-family: Verdana, sans-serif;
  font-size: 13.2px;
  color: hsl(0, 0%, 10%);
} 
*/


/* 03 - React CSS Styling Components */

/* 1. Using External CSS */
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* 04 - React Props CSS  */
.student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  margin-bottom: 10px;
}

.student p {
  margin: 0;
}

/* 05 - React Conditional Rendering CSS  */
.welcome-message {
  font-family: Arial, sans-serif;
  font-size: 2.5em;
  background-color: hsl(120, 82%, 49%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-family: Verdana, sans-serif;
  font-size: 2.5em;
  background-color: hsl(0, 84%, 52%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

/* 06 - React Rendering List CSS  */
.header1 {
  width: 230px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: aquamarine;
  color: hsl(0, 0%, 13%);
  padding: 10px;
}

.header2 {
  width: 230px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: aquamarine;
  color: hsl(0, 0%, 13%);
  padding: 10px;
}

.header3 {
  width: 230px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: aquamarine;
  color: hsl(0, 0%, 13%);
  padding: 10px;
}

.header4 {
  width: 230px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: aquamarine;
  color: hsl(0, 0%, 13%);
  padding: 10px;
}

.list-category {
  font-family: Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

/* 07 - ReactJS Click Event CSS */
body {
  background-color: hsl(0, 0%, 13%);
}

.container {
  width: 500px;
  display: block;
  margin: 50px auto;
  border: 3px solid hsl(0, 0%, 71%);
}


.profile-pic {
  width: 300px;
  display: block;
  margin: 50px auto;
  border: 1px solid hsl(0, 0%, 85%); 
  cursor: pointer;  
}

.profile-pic:hover {
  animation-name: glow;
  animation-duration: 10s;
}

@keyframes glow {
  /* values  (1)horizontal offset  (2)vertical offset (3)blur offset (4)color*/
  50%{box-shadow: 0px 0px 50px hsl(0, 0%, 50%) ;}
}

.title {
  font-family: cursive;
  font-size: 1.5em;
  text-align: center;
  color: hsl(0, 0%, 85%);
}

.quote {
  font-family: cursive;
  font-size: 0.8em;
  text-align: center;
  color: hsl(0, 0%, 85%);
  display: block;
  margin: 30px auto;
}

.proceed-button {
  display: block;
  margin: 50px auto;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  font-weight: bold;
  color: hsl(0, 0%, 13%);
  cursor: pointer;
}

.proceed-button:hover {
  background-color: azure;
  border: 1px solid hsl(0, 0%, 45%);
  transition: background-color 0.25s;
}

/* 08 - ReactJS React Hook and useState() CSS */
body {
  background-color: #ffffff;
}

.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;


}

.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-right: 5px;
  background-color: hsl(197, 100%, 58%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(197, 100%, 48%);
  transition: background-color 0.25s;
}

/* 10 - ReactJS Color Picker Program CSS */
/* body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 40%);
} */

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid hsl(0, 0%, 30%);
  border-radius: 25px;
  padding: 20px;
  width: 500px;
  margin: auto;
  background-color: azure;
  cursor: pointer;
}

.color-picker-container:hover {
  /*Animation property within the container box*/
  animation-name: colorChange; /*changing the color of an element/box*/

  /*Animation duration property*/
  animation-duration: 5s;

  /* Set the changing color into infinite */
  animation-iteration-count: infinite;

  /* Transition for smooth animation of changing colors */
  transition: animation-iteration-count 0.25s ease-in-out;
}

/* Animation : colorChange */
@keyframes colorChange { /*changing the color of an element/box*/
  0%{background-color: hsl(0, 86%, 67%)} /*0% changing bg color of an element/box to light red*/
  20%{background-color: hsl(24, 86%, 67%)} /*20% changing bg color of an element/box to orange*/
  40%{background-color: hsl(54, 86%, 67%)} /*40% changing bg color of an element/box to yellow*/
  60%{background-color: hsl(118, 86%, 67%)} /*60% changing bg color of an element/box to light green*/
  80%{background-color: hsl(189, 86%, 67%)} /*80% changing bg color of an element/box to light blue*/
  100%{background-color: hsl(276, 86%, 67%)} /*100% changing bg color of an element/box to purple*/
}

.color-header {
  margin: 50px;
  font-size: 3rem;
  color: hsl(0, 0%, 13%);
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition:  0.25s ease;
}

.color-display p {
  font-family: cursive;
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

.color-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: hsl(0, 0%, 13%);
}

/* We use attribute selector for selecting specific and only all input elements that had type 'color' */
input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}

/* 11 - ReactJS Ordering Form CSS */
body {
  /* background-image: url('assets/11\ -\ Ordering\ Form\ Program\ Pics/bg.png'); - Set the bg image using url() function */
  background-repeat: no-repeat; /*To avoids the repeat of bg image especially if its small size*/
  background-position: center; /*Set the position of bg to center*/
  background-attachment: fixed; /*Sets whether a bg image scrolls with the rest of page or it is fixed and position to the middle of the screen or viewfort*/
  background-size: cover; /*Now image was taking up the entire screen of the bg*/
}

.first-container {
  display: inline-block;
  width: 35%;
  height: 600px;
  padding: 20px;
  padding-left: 32px;
  margin: 20px 30px;
  margin-left: 100px;

  background-color: rgba(255, 255, 255, 0.275);
  box-shadow: 1px 1px 2px 1px rgba(155, 155, 155, 0.25);
  border: 1.5px solid hsl(0, 100%, 99%);
  border-radius: 10px;
}

.product-name {
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: hsl(0, 0%, 43%);
  margin-left: 3px;
  margin-bottom: -5px;
}

.rates {
  font-size: 12px;
}

.reviews {
  font-family: "Roboto", "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: hsl(240, 100%, 69%);
}

.product-desc {
  font-family: "Roboto", "Inter", sans-serif;
  font-size: 15.5px;
  color: hsl(0, 0%, 37%);
  line-height: 28px;
}

.product-price {
  font-family: "Roboto", "Inter", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 0%, 37%);
  margin-top: -7px;
  margin-bottom: 5px;
}

.product-img {
  width: 250px;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -20px;
}

.product-variants-img {
  width: 50px;
  margin-right: 10px;
  margin-left: -5px;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  cursor: pointer;
}

.product-variants-img:hover {
  border: 1px solid hsl(0, 0%, 37%);
  transition: border 0.25s ease;
}

.second-container {
  display: inline-block;
  width: 280px;
  height: 300px;
  padding: 20px;
  padding-left: 32px;
  padding-top: 20px;
  margin: 20px 10px; /* Top and Bottom 20px, Left and Right 10px */
  vertical-align: top; /* Align the container to the top */

  background-color: #ffffff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border: 1.5px solid hsl(0, 100%, 99%);
  border-radius: 10px;
}

.order-section {
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: hsl(0, 0%, 43%);
  margin-bottom: -5px;
}

.picker-container {
  border: 1px solid hsl(0, 0%, 73%);
  margin-top: 10px;
  padding: 10px;
}

.picker-container h1 {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 15px;
}

/* 13 - ReactJS Updating useState Object CSS */
body {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  background-image: url('assets/13\ -\ React\ Updating\ useState\ Object\ Pics/car-bg.jpg'); /* Set the bg image using url() function */
}

.car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: auto;
  margin-top: 50px;
  border: 2px solid hsl(0, 0%, 89%);
  border-radius: 10px;
  padding: 10px 10px;

  animation-name: glow;
  animation-duration: 10s;
}

.car-container:hover {
  /*Animation property within the container box*/
  animation-name: glow; /*changing the color of an element/box*/

  /*Animation duration property*/
  animation-duration: 5s;

  /* Set the changing color into infinite */
  animation-iteration-count: infinite;

  /* Transition for smooth animation of changing colors */
  transition: animation-iteration-count 0.25s ease-in-out;
}

@keyframes glow {
  /* values  (1)horizontal offset  (2)vertical offset (3)blur offset (4)color*/
  50%{box-shadow: 0px 0px 50px hsl(0, 65%, 45%) ;}
}

.fav-car {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.car-year {
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: cursive, "Inter", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(0, 0%, 14%);
  background-color: hsl(0, 100%, 72%);
}

.car-make {
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: cursive, "Inter", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(0, 0%, 14%);
  background-color: hsl(0, 100%, 72%);
}

.car-model {
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: cursive, "Inter", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(0, 0%, 14%);
  background-color: hsl(0, 100%, 72%);
}


/* 14 - ReactJS Updating State of Array CSS */
body {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  background-image: url('assets/14\ -\ React\ Updating\ State\ of\ Array\ Pics/food-bg2.jpg'); /* Set the bg image using url() function */
  background-repeat: no-repeat; /*To avoids the repeat of bg image especially if its small size*/
  background-position: center; /*Set the position of bg to center*/
  background-attachment: fixed; /*Sets whether a bg image scrolls with the rest of page or it is fixed and position to the middle of the screen or viewfort*/
  background-size: cover; /*Now image was taking up the entire screen of the bg*/
  /* -webkit-backdrop-filter: blur(5px); - Safari support
  backdrop-filter: blur(5px); - Blur behind the box 
  border-radius: 10px; */
}

.food-container {
  box-shadow: 2.5px 3px 3px 1.5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 15px;
  max-width: 50%;
  margin: auto;
  margin-top: 45px;
}


.food-header {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 3px hsl(0, 0%, 80%);

   /*Animation property within the header*/
  animation-name: colorChange; /*changing the color of an element/header*/

  /*Animation duration property*/
  animation-duration: 5s;

  /* Set the changing color into infinite */
  animation-iteration-count: infinite;

  /* Transition for smooth animation of changing colors */
  transition: animation-iteration-count 0.25s ease-in-out;
}

@keyframes colorChange { /*changing the color of text*/
  0%{color: hsl(0, 86%, 67%)} /*0% changing text color to light red*/
  20%{color: hsl(24, 86%, 67%)} /*20% changing text color to orange*/
  40%{color: hsl(0, 0%, 62%)} /*40% changing text color to yellow*/
  60%{color: hsl(0, 1%, 25%)} /*60% changing text color to light green*/
  80%{color: hsl(189, 87%, 43%)} /*80% changing text color to light blue*/
  100%{color: hsl(0, 86%, 67%)} /*100% changing text color to purple*/
}

.food-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
  color: hsl(0, 0%, 12%);
  text-shadow: 1px 1px 2px hsl(0, 0%, 80%);
}

.food-input {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 auto; /* center the input box by setting magin first to 0 and then auto that will center it */
  display: block; /* to center the input box */
  text-align: center;
}

.add-food-btn {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  padding: 4px 7px;
  border: none;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 36%);
  color: #ececec;
  margin: 0 auto; /* center the button by setting magin first to 0 and then auto that will center it */
  margin-top: -10px;
  display: block; /* to center the button */
  text-align: center;
  cursor: pointer;
}

.add-food-btn:hover {
  background-color: hsl(0, 0%, 14%);
  transition: background-color 0.25s;
}

.add-food-btn:active {
  opacity: 0.8;
  transition: opacity 0.20s;
}
/* 15 - ReactJS Updating State of Array Object CSS */
body {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  background-image: url('assets/15\ -\ React\ Updating\ State\ of\ Array\ Object\ Pics/car-bg1.jpg'); /* Set the bg image using url() function */
  background-repeat: no-repeat; /*To avoids the repeat of bg image especially if its small size*/
  background-position: center; /*Set the position of bg to center*/
  background-attachment: fixed; /*Sets whether a bg image scrolls with the rest of page or it is fixed and position to the middle of the screen or viewfort*/
  background-size: cover; /*Now image was taking up the entire screen of the bg*/
  /* -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 10px;  */
}

.cars-container {
  box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 15px;
  max-width: 50%;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.car-header {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: hsl(0, 0%, 49%);
  margin: 0 auto; /* center the button by setting magin first to 0 and then auto that will center it */
  margin-top: 10px;
  margin-bottom: 30px;
  display: block; /* to center the button */
  text-align: center;
  text-shadow: -1px 1px 1px hsl(0, 0%, 80%);
  
   /*Animation property within the header*/
  animation-name: colorChange; /*changing the color of an element/header*/

  /*Animation duration property*/
  animation-duration: 5s;

  /* Set the changing color into infinite */
  animation-iteration-count: infinite;

  /* Transition for smooth animation of changing colors */
  transition: animation-iteration-count 0.25s ease-in-out;
}

@keyframes colorChange { /*changing the color of text*/
  0%{color: hsl(0, 0%, 62%)} /*0% changing text color to gray*/
  20%{color: hsla(17, 100%, 54%, 0.893)} /*20% changing text color to black*/
  40%{color: hsl(0, 0%, 62%)} /*40% changing text color to gray*/
  60%{color: hsl(0, 0%, 0%)} /*60% changing text color to black*/
}

.input-car-year {
  width: 200px;
  background-color: hsl(0, 0%, 71%);
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px 5px;
  font-family: cursive, "Inter", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(0, 0%, 14%);
  margin-bottom: 15px;
  margin: 0 auto; /* center the button by setting magin first to 0 and then auto that will center it */
  margin-top: 25px;
  display: block; /* to center the button */
  text-align: center;
}

.input-car-make {
  width: 200px;
  background-color: hsl(0, 0%, 71%);
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: cursive, "Inter", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(0, 0%, 14%);
  margin-bottom: 15px;
  margin: 0 auto; /* center the button by setting magin first to 0 and then auto that will center it */
  margin-top: -10px;
  display: block; /* to center the button */
  text-align: center;
}

.input-car-model {
  width: 200px;
  background-color: hsl(0, 0%, 71%);
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: cursive, "Inter", "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(0, 0%, 14%);
  margin-bottom: 15px;
  margin: 0 auto; /* center the button by setting magin first to 0 and then auto that will center it */
  margin-top: -10px;
  display: block; /* to center the button */
  text-align: center;
}

.submit-car-btn {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  padding: 4px 7px;
  border: none;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 36%);
  color: #ececec;
  margin: 0 auto; /* center the button by setting magin first to 0 and then auto that will center it */
  margin-top: -10px;
  margin-bottom: 5px;
  display: block; /* to center the button */
  text-align: center;
  cursor: pointer;
}

.submit-car-btn:hover {
  background-color: hsl(0, 0%, 14%);
  transition: background-color 0.25s;
}

.submit-car-btn:active {
  opacity: 0.5;
  transition: opacity 0.20s;
}

.car-list {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ececec;
  text-shadow: -1px 1px 1px hsl(0, 0%, 14%);
  margin: 0 auto; /* center the button by setting margin first to 0 and then auto that will center it */
  margin-top: 10px;
  margin-left: -40px;
  display: block; /* to center the button */
  text-align: center;
  list-style-type: none;
}

/* 16 - ReactJS To-Do-List CSS */
body {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  background-image: url('assets/16\ -\ React\ To-Do-List\ Pics/bg-study5.jpg'); /* Set the bg image using url() function */
  background-repeat: no-repeat; /*To avoids the repeat of bg image especially if its small size*/
  background-position: center; /*Set the position of bg to center*/
  background-attachment: fixed; /*Sets whether a bg image scrolls with the rest of page or it is fixed and position to the middle of the screen or viewfort*/
  background-size: cover; /*Now image was taking up the entire screen of the bg*/
}

.to-do-list-container {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  text-align: center;
  box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 15px;
  max-width: 50%;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 40px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); 
}

.to-do-list-header {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* text-shadow: 3px 5px 5px 2px rgba(225, 225, 225, 0.897); */

   /*Animation property within the header*/
  animation-name: colorChange; /*changing the color of an element/header*/

  /*Animation duration property*/
  animation-duration: 5s;

  /* Set the changing color into infinite */
  animation-iteration-count: infinite;

  /* Transition for smooth animation of changing colors */
  transition: animation-iteration-count 0.25s ease-in-out;
}

@keyframes colorChange { /*changing the color of text*/
  0%{color: hsl(0, 0%, 62%)} /*0% changing text color to gray*/
  20%{color: hsl(37, 79%, 65%)} /*20% changing text color to beige*/
  40%{color: hsl(0, 0%, 62%)} /*40% changing text color to gray*/
  60%{color: hsl(37, 79%, 65%)} /*60% changing text color to beige*/
  80%{color: hsl(0, 0%, 0%)} /*60% changing text color to black*/
}

.add-btn {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 3.5px 10px;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: hsl(37, 79%, 65%);
  margin-left: 5px;
}

.add-btn:hover {
  background-color: hsl(37, 91%, 60%);
  transition: background-color 0.25s ease;
}

.delete-btn {
  font-family: "Smooch Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 2.5px 10px;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: hsl(37, 79%, 65%);
  margin-left: 5px;
}

.delete-btn:hover {
  background-color: hsl(37, 91%, 60%);
  transition: background-color 0.25s ease;
}

.move-btn {
  font-family: "Smooch Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 2.5px 10px;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: hsl(37, 79%, 65%);
  margin-left: 5px;
}

.move-btn:hover {
  background-color: hsl(37, 91%, 60%);
  transition: background-color 0.25s ease;
}

.input-list-task {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1rem;
  width: 40%;
  padding: 2px 5px;
  border: 2px solid hsl(37, 79%, 65%);
  border-radius: 5px;
  color: hsl(0, 0%, 20%);
}

.ordered-task-list {
  padding: 0;
  list-style-type: none;
}

.task-list {
  width: 85%;
  font-family: "Smooch Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  text-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.311);
  border-radius: 5px;
  margin: 3px auto;

  /* Optional */
  /* display: flex;
  align-items: center; */

   /*Animation property within the box*/
  animation-name: grow;

  /*Animation duration property*/
  animation-duration: 2s;
}

/* Animation : grow */
@keyframes grow { /*grow this list box from the original position to grow in webpage screen*/
  0%{transform: scale(0.5, 0.5)} /*start from 50% scale*/
  50%{transform: scale(1.1, 1.1)} /*grow to 120% scale at halfway*/
  100%{transform: scale(1, 1)} /*end at original 100% scale*/
}

/* Optional */
.text{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.delete-btn, .move-btn {
  padding: 2.5px 10px;
  font-size: 1rem;
  margin-left: 5px;
}


/* 18 - ReactJS Digital Clock Program */
body {
  font-family: cursive, "Inter", "Roboto", sans-serif;
  background-image: url('assets/18\ -\ React\ Digital\ Clock\ Program\ Pics/Kyoto-bg.jpg'); /* Set the bg image using url() function */
  background-repeat: no-repeat; /*To avoids the repeat of bg image especially if its small size*/
  background-position: center; /*Set the position of bg to center*/
  background-attachment: fixed; /*Sets whether a bg image scrolls with the rest of page or it is fixed and position to the middle of the screen or viewfort*/
  background-size: cover; /*Now image was taking up the entire screen of the bg*/
  margin: 0;

  /* OPTIONAL */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}

/* 19 - ReactJS useContext CSS */
.box-container {
  border: 3px solid;
  padding: 25px;
}